@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap');

:root {
    --vibrant-orange: #FD6823;
    --orange: #F9A72F;
    --light-orange: #fce5c3;
    --dark-orange: #3B280B;
    --light-blue: #2FA3FA;
    --white: #EEE;
    --shadow: 1px 1px 1px var(--dark-orange);
}

* {
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark-orange);
}

header {
    background-color: var(--light-orange);
    padding: 16px 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--vibrant-orange);
    text-shadow: var(--shadow);
}

.logo > h1 {
    font-size: 40px;
    font-weight: 900;
}

.logo > img {
    height: 40px;
    border-radius: 50%;
    box-shadow: var(--shadow);
}

nav {
    display: flex;
    gap: 16px;
}

nav a {
    text-decoration: none;
    color: var(--vibrant-orange);
    font-weight: 900;
    font-size: 24px;
}

.banner {
    padding: 64px 320px;
    display: flex;
    color: var(--white);
    align-items: center;
    gap: 32px;
}

.banner>img {
    width: 50%;
}

.banner > .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.banner>.content h2 {
    font-size: 48px;
    font-weight: 900;
}

.banner>.content p {
    font-size: 24px;
}

.banner>.content button {
    align-self: flex-start;
    padding: 8px 16px;
    font-size: 24px;
    background-color: var(--orange);
    border-radius: 8px;
    border: none;
}

button:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-orange);
    padding: 64px 320px;
    gap: 64px;
}

.cards > h2 {
    font-size: 40px;
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
}

.card {
    flex: 0 1 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 200px;
}

.card > img {
    width: 200px;
    border-radius: 16px;
    border: 8px solid var(--dark-orange);
}

.card > p {
    font-size: 24px;
    font-weight: 700;
}